{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
            <p><a class="btn btn-info" href="/items/">Return to items</a></p>
              <form role="form" action="" method="post">{% csrf_token %}
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissible">
               {{ form.errors }}
                    
              </div>
                {% endif %}
              <div class="box-body">
                <div class="form-group">
                   {% for field in form %}
                       {%if field.name == "code" %}
                       {% else %}
                  <label for="{{ field.name }}">{{ field.label }}</label>
                       {% endif %}
                </br>
                       {%if field.name == "license" %}
                           <div id="N_NO">
                  {{field}}

                  </br>
                  {%elif field.name == "next_check_in_days" %}
                  {{field}}
                  </br>
                      {%elif field.name == "safety_expires" %}
                  {{field}}
                  </br>
                      {%elif field.name == "insurance_expires" %}
                  {{field}}
                  </br>
                               {%elif field.name == "insurance" %}
                  {{field}}
                  </br>
                      {%elif field.name == "registration_expires" %}
                  {{field}}
                  </br>
                           {%elif field.name == "registration_amount" %}
                  {{field}}
                  </br>
                           </div>

                               <div id="T_NO">
                                    {%elif field.name == "tire_front" %}
                  {{field}}
                  </br>
                                       {%elif field.name == "tire_back" %}
                  {{field}}
                  </br>
                                   {%elif field.name == "tare" %}
                  {{field}}
                  </br>
                               {%elif field.name == "category" %}
                  {{field}}
                               </br>
                           </div>
                      {%elif field.name == "code" %}
                  {% else %}
                  <input type="text" class="form-control" id="{{ field.auto_id }}" name ="{{ field.name }}" >
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          </div>
          </div>
          </div>
          

{% endblock %}

{% block javascript %}

<script type="text/javascript">

function hide_all(){
       $('#T_NO').hide();
       $('#N_NO').hide();
       $('label[for=license]').hide();
}
function hide_Nall(){
       $('#N_NO').hide();
       $('#T_NO').show();
       $('label[for=license]').hide();
}
function show_all(){
       $('#T_NO').show();
       $('#N_NO').show();
       $('label[for=license]').show();
}
 hide_all();
show_all();
$("#id_category").change(function() {

  if ($(this).val() == "V") {
      show_all();

  } else if ($(this).val() == "T"){
 hide_all();

  }
  else if ($(this).val() == "N"){
 hide_Nall();

  }
});

</script>

{% endblock %}