{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 
<div class="row">

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3>Brand Administration</h3>
              <table id="data" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Brand Name</th>
                  <th>Crops</th>
                </tr>
                </thead>
                <tbody>
                 
                	{% for brand in inputs %}
         			<tr>
         				<td>{{ brand }}</td>
                <td>{{ brand.crops.all }}</td>
         			</tr>
         			{% endfor %}
                </tbody>
              </table>
          </div>
          </div>
          </div>
          </div>
          

{% endblock %}