{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <section class="content-header">
      <h1>
        Crop Admin
      </h1>      
    </section>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <form role="form" action="." method="POST" >{% csrf_token %}
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissible">
               {{ form.errors }}
                    
              </div>
                {% endif %}
              <div class="box-body">
                <div class="form-group">
                   {% for field in crop_form %}
                   
                  
                  {{ field }}
                  {% endfor %}
                </div>
                  <div class="form-group">
                    <h4>Units</h4>
                    {{ formset.management_form }}
                    {% for f in formset %}
                    <div class="control">
                    {{ f.id }}
                    {{ f.unit_type }}
                    {{ f.value }}
                    {% if formset.can_delete %}
                    {{ f.DELETE}}
                    {% endif %} 
                    
                    </div>
                    {% endfor %}
                  </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/crops" class="btn btn-warning">Cancel</a>
              </div>
            </form>
          </div>
          </div>
          </div>
          </div>
     
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'django-dynamic-formset/src/jquery.formset.js' %}"></script>
<script>
    $('.control').formset({
        addText: 'Add Units'
    });
</script>     

{% endblock %}


