{% extends 'base.html' %}

 {% load manager_tags %}
{% load staticfiles %}

{% block content %} 

<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <section class="content-header">
                <h1>WPS</h1>
              </section>

              <div class="table-responsive">
              <table id="example" class="table table-bordered table-hover">
                <thead>
                <tr>

                  <th>Lot</th>
                    <th>Created</th>

                  <th>Begin Time</th>
                  <th>End Time</th>
                  <th>REI</th>
                  <th>Crop</th>
                  <th>Brand</th>
                  <th>EPA</th>
                  <th>Active Ingr.</th>
                  <th>Lot Acres.</th>
                  <th>Qty.</th>
                  <th>User</th>
                </tr>
                </thead>
                <tbody>

              {% for obj in histories %}

              <tr>
                {% with met=obj|check_class_name %}

                {% if met == 'Method' %}

                    <td>{{ obj.lot_info }}</td>
                    <td>{{ obj.created|date:"m/d/y G:i" }}</td>
                    <td>{{ obj.time_start_application }}</td>
                    <td>{{ obj.time_end_application }}</td>
                    <td>{% set continue = '1' %}{% for brand in brandgroup %}{% if brand.brand == obj.brand %} {% if continue == '1' %}{{ brand.rei }} {{ brand.rei_time }} {% set continue = '0' %}{% endif %}{% endif %}{% endfor %}</td>
                    <td>{{ obj.lot_info.crop }}</td>
                    <td>{{ obj.brand }}</td>
                    <td>{{ obj.brand.epa_number }}</td>
                    <td>{{ obj.brand.active_ingredient }}</td>
                    <td>{{ obj.lot_info.lot.acres }}</td>
                    <td>{{ obj.quantity }}</td>
                    <td>{{ obj.created_by }}</td>


                {% endif %}
                {% endwith %}
              </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          </div>
          </div>
          </div>
  {% if histories.has_other_pages %}
  <ul class="pagination">
    {% if histories.has_previous %}
      <li><a href="?page={{ histories.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in histories.paginator.page_range %}
      {% if histories.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if histories.has_next %}
      <li><a href="?page={{ histories.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}