{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <section class="content-header">
      <h1>
        Plans
      </h1>
      <p><a class="btn btn-danger" href="/planner/new/plan">New Plan</a></p>
    </section>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Field</th>
                  <th>Crop</th>
                  <th>From</th>
                  <th>Action</th>
                  <th> Show Parts</th>
                </tr>
                </thead>
                <tbody>
                	{% for plan in object_list %}
         			<tr>
         				
         				<td>{{ plan.field }}</td>
         				<td>{{ plan.crop }}</td>
         				<td>{{ plan.start_date }}</td>
         				<td><a href="/planner/plan/{{ plan.id }}/edit">Edit</a></td>
                <td><a href="/planner/plan/{{ plan.id }}/parts">Show</a></td>
         			</tr>
         			{% endfor %}
                </tbody>
              </table>
          </div>
          </div>
          </div>
          </div>
          

{% endblock %}